* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --magenta: #fe61db;
  --purple: #b437e0;
  --blue: #56b2e5;
  --lime: #5ef937;
  --yellow: #f3f643;
  --orange: #f66e22;
  --red: #fe3f3f;

  --ice: #e0f6f5;
  --grey: #adadad;
  --grey-grey: #686262;
  --another-grey: #dbd7d7;
  --reder: #ff0000;
  --black: #000000;
  --dark-blue: #003069;
  --background: #fbfcff;
  --green: #8dc95e;
  --white: #ffffff;
  font-size: 62.5%;
}

body {
  display: block;
  height: 100vh;
  background: var(--background);
  align-items: center;
  overflow: hidden;
}

.content {
  width: 100%;
  margin: 0 auto;
}

#index main {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 25rem 67%;
}

/* BUTTONS */

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);

  transition: filter 0.2s;

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.1);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background-color: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

.content-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
