* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --magenta: #fe61db;
  --purple: #b437e0;
  --blue: #56b2e5;
  --lime: #5ef937;
  --yellow: #f3f643;
  --orange: #f66e22;
  --red: #fe3f3f;

  --ice: #e0f6f5;
  --grey: #adadad;
  --grey-grey: #686262;
  --another-grey: #dbd7d7;
  --reder: #ff0000;
  --black: #000000;
  --dark-blue: #003069;
  --background: #fbfcff;
  --green: #8dc95e;
  --white: #ffffff;
  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  background: var(--background);
  align-items: center;
}

.content {
  width: 100%;
  margin: 0 auto;
}

#index main {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 25rem 67%;
}

/* BUTTONS */

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);

  transition: filter 0.2s;

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.1);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background-color: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

/* SCOREBOARD */

.score-board {
  text-align: center;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.player {
  width: 12rem;
  display: inline-block;
  padding: 15px;
  border: 3px solid var(--black);
  border-radius: 2rem 2rem 2rem 2rem;
  margin: 5px;
}

.player h1,
.score {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1;
}

.score {
  padding: 20px;
  display: inline-block;
  font-size: 40px;
}

/* TABLE */
#table,
.detail {
  width: 150rem;
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
}

#table {
  background: var(--ice);
  border-radius: 160px;
  border: 0.3rem solid var(--black);
  outline: none;
  grid-row: 2;
}

/* CIRCLES */

#table .detail .main-circle,
#table .detail .red-circles .circle {
  width: 20rem;
  height: 20rem;
}

#table .detail .main-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.3rem solid var(--dark-blue);
  border-radius: 100%;
}

#table .detail .main-circle .inner-circle {
  width: 3.75rem;
  height: 3.75rem;
  background: var(--black);
  border-radius: 100%;
  position: absolute;
}

/* RED CIRCLE LINES */

#table .detail .red-circles {
  width: 150rem;
  height: 65rem;

  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 51% 13%;
  grid-template-rows: 50% 50%;
}

#table .detail .red-circles .circle {
  border: 0.3rem solid var(--reder);
  border-radius: 100%;

  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 30% 16.5%;
  grid-template-rows: 67% 0%;
}

#table .detail .red-circles .circle div {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid var(--reder);
}

#table .detail .red-circles .circle div:nth-child(1) {
  border-top: transparent;
  border-left: transparent;
}

#table .detail .red-circles .circle div:nth-child(2) {
  border-top: transparent;
  border-right: transparent;
}

#table .detail .red-circles .circle div:nth-child(3) {
  border-bottom: transparent;
  border-left: transparent;
}

#table .detail .red-circles .circle div:nth-child(4) {
  border-bottom: transparent;
  border-right: transparent;
}

/* LINES */

#table .detail .line {
  width: 42rem;
  height: 65rem;
  border: 0.3rem solid var(--dark-blue);
  border-top: transparent;
  border-bottom: transparent;

  justify-content: space-between;
  align-items: center;

  position: absolute;
  display: flex;
}

/* RED DOTS */

#table .detail .points {
  width: 42rem;
  height: 65rem;

  justify-content: center;
  align-items: center;
  position: absolute;

  display: grid;
  grid-template-columns: 65% 4.5%;
}

#table .detail .points div {
  width: 1rem;
  height: 1rem;

  justify-content: center;
  align-items: center;

  background: var(--reder);
  border-radius: 100%;
}

/* GOALS */

#table .detail .goals {
  width: 150rem;
  height: 65rem;

  justify-content: center;
  align-items: center;
  position: absolute;

  display: grid;
  grid-template-columns: 80% 2.6%;
}

#table .detail .goals div {
  width: 3rem;
  height: 28rem;
  border: 0.4rem solid var(--black);

  justify-content: center;
  align-items: center;
  display: flex;

  justify-content: space-between;
}

#table .detail .goals div:nth-child(1) {
  border-right: transparent;
}

#table .detail .goals div:nth-child(2) {
  border-left: transparent;
}
