/* TIMER */
.content-wrapper .timer {
  text-align: center;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 5rem;
}

.content-wrapper .timer #timer-display {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1;
  font-size: 30px;
}

/* SCOREBOARD */

.content-wrapper .score-board {
  text-align: center;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.player {
  width: 12rem;
  display: inline-block;
  padding: 15px;
  border: 3px solid var(--black);
  border-radius: 2rem 2rem 2rem 2rem;
  margin: 5px;
}

.player h1,
.score {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1;
}

.score {
  padding: 20px;
  display: inline-block;
  font-size: 40px;
}

/* TABLE */
#canvas {
  position: absolute;
}

.detail,
#table {
  width: 150rem;
  height: 65.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
}

#table {
  align-items: center;

  background: var(--ice);
  border-radius: 160px;
  border: 0.3rem solid var(--black);
  outline: none;
  grid-row: 2;
  display: block;
}

/* CIRCLES */

#table .detail .main-circle,
#table .detail .red-circles .circle {
  width: 20rem;
  height: 20rem;
}

#table .detail .main-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.3rem solid var(--dark-blue);
  border-radius: 100%;
}

#table .detail .main-circle .inner-circle {
  width: 3.75rem;
  height: 3.75rem;
  background: var(--black);
  border-radius: 100%;
  position: absolute;
}

/* RED CIRCLE LINES */

#table .detail .red-circles {
  width: 150rem;
  height: 65rem;

  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 51% 13%;
  grid-template-rows: 50% 50%;
}

#table .detail .red-circles .circle {
  border: 0.3rem solid var(--reder);
  border-radius: 100%;

  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 30% 16.5%;
  grid-template-rows: 67% 0%;
}

#table .detail .red-circles .circle div {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid var(--reder);
}

#table .detail .red-circles .circle div:nth-child(1) {
  border-top: transparent;
  border-left: transparent;
}

#table .detail .red-circles .circle div:nth-child(2) {
  border-top: transparent;
  border-right: transparent;
}

#table .detail .red-circles .circle div:nth-child(3) {
  border-bottom: transparent;
  border-left: transparent;
}

#table .detail .red-circles .circle div:nth-child(4) {
  border-bottom: transparent;
  border-right: transparent;
}

/* LINES */

#table .detail .line {
  width: 42rem;
  height: 65.5rem;
  border: 0.3rem solid var(--dark-blue);
  border-top: transparent;
  border-bottom: transparent;

  justify-content: space-between;
  align-items: center;

  position: absolute;
  display: grid;
}

/* RED DOTS */

#table .detail .points {
  width: 42rem;
  height: 65rem;

  justify-content: center;
  align-items: center;
  position: absolute;

  display: grid;
  grid-template-columns: 65% 4.5%;
}

#table .detail .points div {
  width: 1rem;
  height: 1rem;

  justify-content: center;
  align-items: center;

  background: var(--reder);
  border-radius: 100%;
}

/* GOALS */

#table .detail .goals {
  width: 150rem;
  height: 65rem;

  justify-content: center;
  align-items: center;
  position: absolute;

  display: grid;
  grid-template-columns: 80% 2.6%;
}

#table .detail .goals div {
  width: 3rem;
  height: 28rem;
  border: 0.4rem solid var(--black);

  justify-content: center;
  align-items: center;
  display: flex;

  justify-content: space-between;
}

#table .detail .goals div:nth-child(1) {
  border-right: transparent;
}

#table .detail .goals div:nth-child(2) {
  border-left: transparent;
}
